$white: #ffffff;
$black: #000000;
$font: #2c343a;
$light-font: #808fa4;
$bg: #f0f4f9;
$mc: #00c366;
$dark-mc: #009b51;
$light-mc: #edeefd;
$shadow-1: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);
$shadow-1-dark: 0px 0px 100px 0px rgba(0, 0, 0, 0.15);